.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--size-2);
}

.title {
	color: var(--accent-color);
	font-size: var(--font-size-4);
	font-weight: var(--font-weight-9);
	text-align: center;
}

.input {
	border-radius: var(--radius-3);
	padding: var(--size-2);
	field-sizing: content;
}

.streak {
	color: var(--brown-7);
	font-size: var(--font-size-1);
	text-transform: uppercase;
	font-weight: var(--font-weight-7);
}
