.container {
	display: flex;
	flex-direction: column;
	gap: var(--size-3);
}

.title-wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--size-3);
	align-items: center;
}

.title {
	color: var(--accent-color);
	font-size: var(--font-size-4);
	font-weight: var(--font-weight-9);
}

.progress {
	display: flex;
	flex-direction: column;
	gap: var(--size-2);
}

.progress-bar {
	background-color: var(--brown-1);
	appearance: none;
	border: none;
	border-radius: var(--radius-round);
	width: 100%;
	height: var(--size-2);

	&::-webkit-progress-bar {
		background-color: var(--brown-1);
		border: none;
		border-radius: var(--radius-round);
		display: block;
	}

	&::-moz-progress-bar {
		background-color: var(--accent-color);
		border-radius: var(--radius-round);
	}

	&::-webkit-progress-value {
		background-color: var(--accent-color);
		border-radius: var(--radius-round);
	}
}

.progress-text {
	font-size: var(--font-size-1);
	color: var(--brown-8);
	text-align: right;
}

.questions {
	position: relative;
}

.question-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	opacity: 0;
	pointer-events: none;
	transition: opacity var(--duration-gentle-1);
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: var(--size-4);

	> * {
		max-width: 960px;
		margin: 0 auto;
	}

	&.active {
		opacity: 1;
		pointer-events: all;
	}
}

.question {
	font-weight: bold;
	background-color: var(--sand-0);
	border-radius: var(--radius-4);
	padding: var(--size-6);
	box-shadow: var(--shadow-4);
	color: var(--brown-9);
	text-align: center;
	width: 100%;
}

.answers {
	display: flex;
	flex-direction: column;
	gap: var(--size-2);
	width: 100%;
}

.answer {
	background-color: var(--brown-1);
	border: solid var(--border-size-1) var(--brown-4);
	border-radius: var(--radius-4);
	padding: var(--size-3);
	color: var(--brown-9);
	text-align: center;

	transition:
		opacity 0.8s,
		translate 0.8s;
	transition-delay: calc(0.3s * sibling-index());

	.inactive & {
		opacity: 0;
		translate: 0 20px;
	}

	@starting-style {
		opacity: 0;
		translate: 0 20px;
	}

	&:hover,
	&:has(input[checked]) {
		background-color: var(--sand-0);
	}

	input {
		display: none;
	}
}
