.photo {
	aspect-ratio: var(--ratio-square);
	width: 100%;
	max-width: var(--size-px-15);
	background-color: white;
	border: none;
	object-fit: cover;
	border-radius: var(--radius-3);
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: var(--size-3);
	align-items: center;
}

.shutter-btn {
	border-radius: var(--radius-round);
	padding: var(--size-3);
	aspect-ratio: var(--ratio-square);
	border: solid var(--border-size-1) var(--gray-4);
}
