@import "open-props/style";
@import "open-props/durations";
@import "open-props/colors-hsl";

/* @import "open-props/normalize"; */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
}

:root {
	--accent-color: var(--blue-6);
}

html,
body,
#root {
	height: 100%;
}

#root {
	display: flex;
}

body {
	font-family: var(--font-system-ui);
	background-color: var(--brown-0);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page-wrapper {
	flex: 1;
	padding: var(--size-5);
	overflow: hidden;
}

.outer-page-container {
	display: flex;
	flex-direction: column;
	gap: var(--size-3);
}

.inner-page-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-bottom: var(--size-);
}

.btn {
	padding: var(--size-3) var(--size-7);
	background-color: var(--accent-color);
	border-radius: var(--radius-round);
	color: white;
	text-transform: uppercase;
	font-weight: var(--font-weight-8);
	text-decoration: none;
	border: none;

	&:disabled {
		background-color: var(--blue-2);
	}
}

.switch {
	background-color: var(--brown-1);
	border-radius: var(--radius-round);
	border: solid var(--border-size-1) var(--brown-2);
	box-shadow: var(--shadow-2);
	padding: var(--size-1);
	position: relative;
	width: max-content;
	font-size: 1.1rem;
	display: flex;

	input {
		display: none;
	}

	label {
		padding: var(--size-2) var(--size-3);
		position: relative;
		z-index: 2;
		background-color: transparent;
		display: block;
		user-select: none;
	}

	&::before {
		content: "";
		position: absolute;
		z-index: 1;
		left: var(--size-1);
		top: var(--size-1);
		display: block;
		width: calc(50% - (2 * var(--size-1)));
		height: calc(100% - (2 * var(--size-1)));
		background-color: var(--accent-color);
		border-radius: var(--radius-round);
		transition: transform var(--duration-gentle-1);
	}

	&:has(input:last-of-type:checked)::before {
		transform: translateX(calc(100% + var(--size-1)));
	}
}

@keyframes move-out-forward {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(-100%);
	}
}

@keyframes move-in-forward {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes move-out-back {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(100%);
	}
}

@keyframes move-in-back {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0%);
	}
}

html:active-view-transition-type(forward) {
	&::view-transition-old(root) {
		animation: var(--duration-gentle-1) ease-in both move-out-forward;
	}
	&::view-transition-new(root) {
		animation: var(--duration-gentle-1) ease-in both move-in-forward;
	}
}

html:active-view-transition-type(back) {
	&::view-transition-old(root) {
		animation: var(--duration-gentle-1) ease-in both move-out-back;
	}
	&::view-transition-new(root) {
		animation: var(--duration-gentle-1) ease-in both move-in-back;
	}
}
