@import "open-props/style";
@import "open-props/durations";

/* @import "open-props/normalize"; */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
}

:root {
	--accent-color: var(--blue-6);
}

html,
body,
#root {
	height: 100%;
}

#root {
	display: flex;
}

body {
	font-family: var(--font-system-ui);
	background-color: var(--brown-0);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page-wrapper {
	flex: 1;
	padding: var(--size-5);
	overflow: hidden;
}

.btn {
	padding: var(--size-3) var(--size-7);
	background-color: var(--accent-color);
	border-radius: var(--radius-round);
	color: white;
	text-transform: uppercase;
	font-weight: var(--font-weight-8);
	text-decoration: none;
}
